In [2]:
import sys
import numpy as np
import os
import pandas as pd
from scipy.stats import ttest_ind, chi2_contingency
from scipy import stats

data_dir=data_dir = r'E:\code\WEEK3\IINSURANCE_ANALAYSIS\data'
src_dir = r'E:\code\WEEK3\IINSURANCE_ANALAYSIS\src'


sys.path.append(src_dir)
sys.path.append(data_dir)
from AB_func import InsuranceDataUtils

In [3]:
csv_file_path = r'E:\code\WEEK3\IINSURANCE_ANALAYSIS\data\cleaned_data.csv'
df = pd.read_csv(csv_file_path, low_memory=False)
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [4]:
provinces = df['Province'].unique()
provinces

array(['Gauteng', 'KwaZulu-Natal', 'Mpumalanga', 'Eastern Cape',
       'Western Cape', 'Limpopo', 'North West', 'Free State',
       'Northern Cape'], dtype=object)

In [5]:
# Lets use 'ZipCode' with 'PostalCode' because we dont have  a zip code columns 
df_subset = df[['Province', 'PostalCode', 'Gender', 'TotalPremium', 'TotalClaims','SumInsured']]

# Display the first few rows to ensure the data is correctly merged
df_subset.head()

  Province  PostalCode         Gender  TotalPremium  TotalClaims  SumInsured
0  Gauteng        1459  Not specified     21.929825          0.0        0.01
1  Gauteng        1459  Not specified     21.929825          0.0        0.01
2  Gauteng        1459  Not specified      0.000000          0.0        0.01
3  Gauteng        1459  Not specified    512.848070          0.0   119300.00
4  Gauteng        1459  Not specified      0.000000          0.0   119300.00

In [6]:
   # Create instance of DataUtil
data_util = InsuranceDataUtils(df_subset)
    
    # Categorize provinces
high_risk_provinces, low_risk_provinces = data_util.categorize_provinces('TotalClaims')
print(f"High Risk Provinces: {high_risk_provinces}")
print(f"Low Risk Provinces: {low_risk_provinces}")
    
    # Perform the test
t_stat, p_val, interpretation = data_util.test_risk_differences('TotalClaims', high_risk_provinces, low_risk_provinces)
    
    # Print summary
data_util.print_summary(t_stat, p_val, interpretation)

High Risk Provinces: ['Gauteng', 'KwaZulu-Natal', 'Western Cape']
Low Risk Provinces: ['Eastern Cape', 'Free State', 'Limpopo', 'Mpumalanga', 'North West', 'Northern Cape']
T-statistic: 7.1185
P-value: 0.0000
Interpretation: Reject the null hypothesis: There are significant differences in risk.

In [7]:
# Example usage
# Assuming df is your DataFrame
analysis = InsuranceDataUtils(df_subset)
analysis.analyze(threshold=10)

Category Claims:
    PostalCodeCategory    TotalClaims
0                    1  307583.342105
1                    2   61885.298246
2                    4       0.000000
3                    5   82951.526316
4                    6    8628.596491
..                 ...            ...
847               9830       0.000000
848               9868       0.000000
849               9869    2236.842105
850               9870       0.000000
851              Other       0.000000

[852 rows x 2 columns]
Chi-Square Test Results:
{'Chi-Square Statistic': np.float64(1214174.4063742852), 'P-Value': np.float64(1.0), 'Degrees of Freedom': 1373514, 'Expected Frequencies': array([[5.34047663e-03, 5.34047663e-03, 5.34047663e-03, ...,
        5.34047663e-03, 5.34047663e-03, 5.34047663e-03],
       [1.48785419e-03, 1.48785419e-03, 1.48785419e-03, ...,
        1.48785419e-03, 1.48785419e-03, 1.48785419e-03],
       [7.69924547e-05, 7.69924547e-05, 7.69924547e-05, ...,
        7.69924547e-05, 7.69924547e-05, 7.69924547e-05],
       ...,
       [1.41486134e-03, 1.41486134e-03, 1.41486134e-03, ...,
        1.41486134e-03, 1.41486134e-03, 1.41486134e-03],
       [2.19978442e-04, 2.19978442e-04, 2.19978442e-04, ...,
        2.19978442e-04, 2.19978442e-04, 2.19978442e-04],
       [9.69904949e-05, 9.69904949e-05, 9.69904949e-05, ...,
        9.69904949e-05, 9.69904949e-05, 9.69904949e-05]],
      shape=(852, 1615))}
Interpretation: Fail to reject the null hypothesis: No significant differences in risk based on postal codes.

In [8]:
insurance = InsuranceDataUtils(df_subset)
insurance.analyze_margins_by_postal_code(threshold=10)

Category Margins:
    PostalCodeCategory      Margin
0                    1   -6.468455
1                    2   -0.687882
2                    4  113.947737
3                    5 -145.725189
4                    6   30.980985
..                 ...         ...
847               9830  131.760895
848               9868  116.042377
849               9869   43.193631
850               9870   80.469292
851              Other   70.769225

[852 rows x 2 columns]
ANOVA Test Results:
{'F-Statistic': np.float64(0.9075757372814504), 'P-Value': np.float64(0.9745048985380578)}
Interpretation: Fail to reject the null hypothesis: No significant differences in margin between postal codes.

In [9]:
analysis = InsuranceDataUtils(df_subset)

analysis.preprocess_and_calculate()
analysis.perform_t_test_and_interpret()

Average Claims by Gender:
Gender
Female    37.046055
Male      32.620312
Name: TotalClaims, dtype: float64
T-Test Results:
{'T-Statistic': np.float64(-0.296353891400699), 'P-Value': np.float64(0.7669656471629474)}
Interpretation: Fail to reject the null hypothesis: No significant differences in risk between genders.